body {
    font-family: Arial, sans-serif;
    background-color: #b9b8b6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-box {
    background-color: white;
    padding: 30px 40px;
    border-radius: 8px;
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    size: 10px;
    
}
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    
}

button {
    background-color: chocolate;
    border-radius: 10px;
}

a {
    font: 13px sans-serif;
}