<!DOCTYPE html>
<html>
<head>
    <title>Flask Calendar</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 5px;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #ff9966;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='styledashboard.css') }}">
</head>
<body>
    <div class="top-bar">
        <a href="{{ url_for('timetable') }}" class="btn">+ Add Entry</a>
        <a href="{{ url_for('dashboard') }}" class="btn">← Back to Dashboard</a>
        <div class="top-bar-right">
            <a href="{{ url_for('logout') }}" class="btn">Logout</a>
        </div>
    </div>
    <div class="container">
    <h1>Calendar Viewer</h1>
    <div>{{ calendar | safe }}</div>
    
</body>
</html>
